@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Bree+Serif&family=Headland+One&family=Lora&family=Roboto+Serif&family=Sawarabi+Mincho&display=swap');

:root {
    --box-shadow: hsla(222, 68%, 12%, .1);
    --green-pastel: hsl(130, 86%, 73%);
    --blue-bold: rgb(12, 14, 105);
    --albescent-white: rgb(243,229,208);
    --albescent-white1: rgb(240, 221, 194);
    --white-linen: rgb(238,231,220);
    --fantasy: #fff1e8;
}

*{
    font-family:'Montserrat', sans-serif;
}

body{
    background-color: var(--albescent-white1);
    margin: 0 0 0 0;
}

html {
    scroll-behavior: smooth;
}

.head_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
}

.brand_container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    width: fit-content;
}

.logo img {
    width: auto;
    height: 100px;
}

.brand {
    font-size: 62px;
    font-family: 'Pacifico';
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav_bar{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    margin-right: 15px;
}

.nav_bar a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px 0 15px ;
    font-size: 24px;
    color: black;
    white-space: nowrap;
}

.nav_bar a::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.nav_bar a:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}

.nav_container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
}

input[type="text" i] {
    padding: 0px 0px;
}

.search_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-right: 15px;
    margin-left: 200px;
    width: 100%;
}

.search_bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    border-radius: 4rem;
}


.search_container .search_input{
    position: absolute;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    border-radius: 4rem;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
}

.search_container .search_input::placeholder{
    color: black;
    overflow: hidden;

}

.search_container .search_button{
    position: absolute;
    margin: 12px 14px;
    cursor: pointer;
}

.search_icon {
    color: black;
    font-size: 22px;
}

.search_input:focus{
    width: 100%;
    outline: none;
    padding-left: 24px;
    border-radius: 4rem;
    box-shadow: 10px 5px 5px var(--box-shadow);
    transition: width 0.2s linear;
}

.search_input:not(:focus) {
    outline: none;
    border-radius: 4rem;
    transition: width 0.2s linear;
}

.search_input:not(:focus)::placeholder {
    opacity: 0;
}

.search_input:focus::placeholder {
    opacity: 1;
    transition: opacity 1s ease-in;
}


#category1_header {
    padding-bottom: 1.5rem;
    text-align: center;
}

#category1_header a {
    font-size: 34px;
    color: black;
    text-decoration: none;
}

 #category1 {
    width: 100%;
 }

.category1_content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

.booktype1 {
    /* background-color: aqua; */
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.books{
    width: calc(100%/3 - 60px);
    height: auto;
    background: var(--fantasy);
    padding: 1rem;
    border-radius: 20px;
}

.card{
    width: 100%;
}

.image-content img {
    width: 100%;
}

.image-content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.books .card .name{
    padding: 5px 0px;
}

.books .card .name a{
    font-size: 20px;
    font-family: 'Bree Serif';
    text-decoration: none;
    color: var(--blue-bold);
}

.books .card .descrip{
    font-size: 16px;
    font-family: 'Adamia';
    color: black;
}


@media only screen and (max-width: 1404px) {
    .search_container {
        flex-basis: 280px;
        width: 100%;
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1280px) {
    .search_container {
        flex-basis: 280px;
        width: 100%;
        margin-left: 50px;
    }
}